<div class="mt-4">
    <h2 class="text-center">Đăng Khóa Học</h2>
    <form action="/courses/store" method="post">
        <div class="mb-3 form-group">
            <label class="form-label">Tên Khóa Học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Mô tả khóa học</label>
            <textarea type="text" class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">ID Video Khóa Học</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="mb-3 form-group">
            <label class="form-label">Level Khóa Học</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
    </form>
</div>