<!-- Remove the container if you want to extend the Footer to full width. -->
{{!-- <div class="container-fluid my-5"> --}}
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark " style="background-color: #ECEFF1">
        <!-- Section: Social media -->


        <!-- Section: Links  -->
        <section class="pt-1">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Company name</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Here you can use rows and columns to organize your footer
                            content. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Products</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="nav-link text-dark">MDBootstrap</a>
                        </p>
                        <p>
                            <a href="#!" class="nav-link  ">MDWordPress</a>
                        </p>
                        <p>
                            <a href="#!" class="nav-link  ">BrandFlow</a>
                        </p>
                        <p>
                            <a href="#!" class="nav-link  ">Bootstrap Angular</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="nav-link  ">Your Account</a>
                        </p>
                        <p>
                            <a href="#!" class="nav-link  ">Become an Affiliate</a>
                        </p>
                        <p>
                            <a href="#!" class="nav-link  ">Shipping Rates</a>
                        </p>
                        <p>
                            <a href="#!" class="nav-link  ">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> HCM City, VietNam</p>
                        <p><i class="fas fa-envelope mr-3"></i> haonguyennvan@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 84358677058</p>
                        <p><i class="fas fa-print mr-3"></i> + 84899639021</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="nav-link  " href="https://mdbootstrap.com/">HOCCUNGHAO.COM</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    {{!--
</div> --}}
<!-- End of .container -->